<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ng-container *ngIf="authenticated; else notLoggedIn">
          <h2>Connected !</h2>
          <ion-button color="danger" expand="block" fill="outline" (click)="logout()">Log out</ion-button>
      </ng-container>
      <ng-template #notLoggedIn>
          <h2>Not connected</h2>
          <ion-button color="primary" expand="full" (click)="login()">Log in</ion-button>
          <ion-button color="primary" expand="block" fill="outline" (click)="register()">Create account</ion-button>
      </ng-template>
  </div>
</ion-content>
